In [1]:
# importing libraries
import numpy as np
import pandas as pd
import requests
import urllib.request
from bs4 import BeautifulSoup

In [2]:
base_url = "https://www.worldfootball.net/schedule/eng-premier-league-2018-2019-spieltag/"

In [85]:
# Here we are creating two different dataframes. One with weekly standing and one with weekly points for each team

team1 = [list(range(1,21))]
team2 = [list(range(1,21))]
colnames1 = ['Position']
colnames2 = ['Position']

# for each matchweek we need to scrape a page
for matchweek in range(1, 39):
    standing = []
    points = []
    colnames1.append("Team"+str(matchweek))
    colnames2.append("Points"+str(matchweek))
    # concantenate strings to create url
    url = base_url + str(matchweek)
    
    # scrape a webpage
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # select all tables from page (there are 2 tables on page)
    data = soup.select('table.standard_tabelle')
    
    # select all 'a' tags (Team Names) from second table (point table)
    for team in data[1].findAll('a'):
        standing.append(team.text)
    
    # process one row at a time in table to get points 
    for team in data[1].findAll('tr'):
        count = 0
        # process each record in row at a time
        for rec in team.findAll('td'):
            # only interested in 10th record (points)
            if (count == 9):
                points.append(rec.text)
            count += 1
        
    team1.append(standing)
    team2.append(points)

# creating data frame for weekly team standing
weekly_standing = pd.DataFrame.from_records(team1).T
weekly_standing.columns = colnames1

# creating data frame for weekly points
weekly_points = pd.DataFrame.from_records(team2).T
weekly_points.columns = colnames2

In [89]:
weekly_standing.head()

,Position,Team1,Team2,Team3,Team4,Team5,Team6,Team7,Team8,Team9,...,Team29,Team30,Team31,Team32,Team33,Team34,Team35,Team36,Team37,Team38
0,1,Liverpool FC,Manchester City,Liverpool FC,Liverpool FC,Chelsea FC,Liverpool FC,Manchester City,Manchester City,Manchester City,...,Manchester City,Manchester City,Manchester City,Manchester City,Manchester City,Manchester City,Manchester City,Manchester City,Manchester City,Manchester City
1,2,Chelsea FC,Liverpool FC,Tottenham Hotspur,Chelsea FC,Liverpool FC,Manchester City,Liverpool FC,Chelsea FC,Liverpool FC,...,Liverpool FC,Liverpool FC,Liverpool FC,Liverpool FC,Liverpool FC,Liverpool FC,Liverpool FC,Liverpool FC,Liverpool FC,Liverpool FC
2,3,AFC Bournemouth,Chelsea FC,Chelsea FC,Watford FC,Manchester City,Chelsea FC,Chelsea FC,Liverpool FC,Chelsea FC,...,Tottenham Hotspur,Tottenham Hotspur,Tottenham Hotspur,Tottenham Hotspur,Tottenham Hotspur,Tottenham Hotspur,Tottenham Hotspur,Tottenham Hotspur,Chelsea FC,Chelsea FC
3,4,Crystal Palace,Watford FC,Watford FC,Manchester City,Watford FC,Watford FC,Tottenham Hotspur,Arsenal FC,Arsenal FC,...,Chelsea FC,Arsenal FC,Arsenal FC,Arsenal FC,Chelsea FC,Arsenal FC,Chelsea FC,Chelsea FC,Tottenham Hotspur,Tottenham Hotspur
4,5,Manchester City,Tottenham Hotspur,Manchester City,Tottenham Hotspur,AFC Bournemouth,Tottenham Hotspur,Arsenal FC,Tottenham Hotspur,Tottenham Hotspur,...,Manchester United,Chelsea FC,Chelsea FC,Chelsea FC,Arsenal FC,Chelsea FC,Arsenal FC,Arsenal FC,Arsenal FC,Arsenal FC

In [90]:
weekly_points.head()

,Position,Points1,Points2,Points3,Points4,Points5,Points6,Points7,Points8,Points9,...,Points29,Points30,Points31,Points32,Points33,Points34,Points35,Points36,Points37,Points38
0,1,3,6,9,12,15,18,19,20,23,...,71,74,77,80,83,86,89,92,95,98
1,2,3,6,9,12,15,16,19,20,23,...,70,73,76,79,82,85,88,91,94,97
2,3,3,6,9,12,13,16,17,20,21,...,61,61,64,64,67,70,70,70,71,72
3,4,3,6,9,10,12,13,15,18,21,...,59,60,60,63,66,66,67,68,70,71
4,5,3,6,7,9,10,12,15,18,21,...,58,60,60,63,63,66,66,66,67,70

In [88]:
# exporting these two files in csv format
weekly_standing.to_csv(path_or_buf= "weekly_standing.csv",index=False)
weekly_points.to_csv(path_or_buf= "weekly_points.csv",index=False)